
#main-div{
    height:650px;
    width: 900px;
    background-color: rgb(150,237,243);
    border-radius:30px;
    border-color: rgb(125,243,208);
     border-style: solid;
}

#info-div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 220px;
    width: 270px;
    position: relative;
    font-size: 20px;
        direction: rtl;
        float: right;
        text-align: right;
        margin-right: 30px;
}
#love-img{
    float:left;
    height:300px;
    width:500px;
    position: relative;
    left:20px;
    top: 20px;
    border-radius:40px; 
}
.gallery {
    width: 155px;
    height: 150px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 20px;
    float: inline-end;
    margin-right: 5px;
}

.gallery:hover {
    box-shadow: 0 0 4px 3px rgba(0, 140, 186, 0.5);
}




th {
    font-size: 15px;
}

#table-gallery {
    position: relative;
    top:60px;
}

#title {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
