#main-div{
    height:650px;
    width: 900px;
    background-color: rgb(150,237,243);
    border-radius:30px;
    border-color: rgb(125,243,208);
     border-style: solid;
}
#buttons-div{
    width: 90%;
}
#gallery-profile{
    position: relative;
    float: right;
    height: 400px;
    width: 400px;
    right: 50px;
    top: 20px;
}
.photos{
    height: 80px;
    width: 80px;
}

.photos:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


#main-photo{
    height: 300px;
    width: 350px;
    border-radius: 30px 45px 50px 80px;
}
.buttons{
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

#info-profile{
    float: left;
    height:400px ;
    width:450px; 
    margin-top: 8px;
    padding-right: 5px;
}

#info-div::first-letter{
    color:black;
  font-size: xx-large;
}

#info-div{
  font-size: 20px;
  direction: rtl;
}